body {
	background-color: transparent;
}

@font-face {
	font-family: "bffont";
	src: url("./bffont.ttf");
}

#prophunt-roundinfo {
	position: absolute;
	left:0;
	right:0;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	height: 50px;
	text-align: center;
}

#prophunt-roundinfo h2,
#prophunt-roundinfo h3,
#prophunt-roundinfo h6 {
	color: #fff;
	-webkit-text-stroke: 1px #000;
}

#prophunt-centermessage {
	display: none;
	width: 1024px;
	height:150px;
	position: absolute;
	left: 0;
	right: 0;
	top: 250px;
	margin: 0 auto;
	color: #fff;
	-webkit-text-stroke: 1px #000;
	font-size: 80px;
	font-weight: bold;
	text-align: center;
}

#prophunt-scoreboard {
  position: absolute;
  padding-left: 15px;
  left: 0;
  top: 200px;
  width: 200px;
  opacity: 0.3;
}

#prophunt-scoreboard h3 {
  color: #fff;
  -webkit-text-stroke: 1px #000;
}

#prophunt-scoreboard .list-group-item {
  padding: 5px;
}

#prophunt-tutorial {
  display: none;
  position: absolute;
  padding-left: 15px;
  left:0;
  bottom:0;
  width: 200px;
  height: 100px;
}


/* animations */
.fade-in {
  animation: fadeIn ease 10s;
  -webkit-animation: fadeIn ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
  -ms-animation: fadeIn ease 10s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}

.fade-out {
  animation: fadeOut ease 8s;
  -webkit-animation: fadeOut ease 8s;
  -moz-animation: fadeOut ease 8s;
  -o-animation: fadeOut ease 8s;
  -ms-animation: fadeOut ease 8s;
}
@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
}