@font-face {
	font-family: "bffont";
	src: url("./bffont.ttf");
}

#prophunt-roundinfo {
	display: none;
	position: absolute;
	left:0;
	right:0;
	margin-left: auto;
	margin-right: auto;
	outline: 1px solid black;
	width: 400px;
	height: 50px;
	background-color: rgba(50, 50, 50, 0.3);
}

#prophunt-roundinfo p {
	margin: 0;
	padding: 0;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-weight: bold;
	font-size: 25px;
}

#prophunt-tutorial {
	display: none;
	position: absolute;
	padding-left: 15px;
	left:0;
	bottom:0;
	outline: 1px solid black;
	width: 200px;
	height: 50px;
	background-color: rgba(50, 50, 50, 0.3);
}

#prophunt-tutorial-seeker,
#prophunt-tutorial-props {
	display: none;
}